body {
    background-image: url(../images/codigo.jpeg);
    margin: 0 auto !important;
   
}

.navbar-brand {
color: white !important;
}
.card-img-top {
    padding: 40px 30px 30px 30px !important;
    height: 45%;
}

.card-body {
    text-align: center !important;
    padding: 0px 0px 100px 0px !important;
}

ul,
li,
input {
    list-style-type: none !important;
}

.circle {
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 5px solid blue;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.circle:checked {
    background-color: gray;
}



#todos {
    height: 60% !important;
    width: 70% !important;
    margin-bottom: 25% !important;

    box-sizing: border-box;

}

.container {
    padding: 40px !important;
}

@media screen and (min-width: 300px) and (max-width: 764px) {
    div.col-sm-12.col-md-4 {
        text-align: center !important;
        padding: 20px 20px !important;
    }

    p#parrafo3 {
        margin-top: -60px !important;

    }

}

#parrafo3 {
    color: white !important;
}

.col-sm-12 .col-md-4 {
    color: white !important;
}

p {
    color: white !important;
}



span {
    color: white !important;
}

.card-text {
    color: rgba(85, 148, 230, 0.735) !important;
    font-size: 100% !important;
    opacity: 1 !important;


}

.active {
    color: white !important;
}